# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# Data files (raw data should not be in Git)
data/
*.csv
*.xlsx

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# Development files
notes/

# Data files (raw data)
data/

# Ignore config file with sensitive info
config.yaml

load_sql.py

# output files
output/
!output_masked/
!data_masked.xlsx
!journal_flagged_masked.xlsx
!journal_import_masked.xlsx